/**
 * (c) Owner of https://codeberg.org/mgar
 */

.devItemInfo {
  border-radius: var(--ifm-global-radius);
  margin-bottom: var(--ifm-leading);
  background-color: var(--ifm-color-info-dark);
  color: var(--ifm-background-color);
  padding: 0.75rem var(--ifm-pre-padding);
}

.devItemInfo icon {
  width: 30px;
  height: 30px;
}

.devItemInfoIcon {
  border-radius: var(--ifm-global-radius);
  background-color:  var(--ifm-background-color);
  color: var(--ifm-color);
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.devItemInfoLink {
  display: inline-block;
  vertical-align: top;
  font-size: 1.2em;
}

.devItemInfoLink a {
  color: var(--ifm-background-color);
}
