/**
 * (c) Owner of https://codeberg.org/mgar
 */

.copyHiddenText {
  border-radius: var(--ifm-global-radius);
  margin-bottom: var(--ifm-leading);
  background-color: var(--ifm-color-primary-dark);
  color: var(--ifm-background-color);
  padding: 0.75rem var(--ifm-pre-padding);
  cursor: pointer;
  border: 4px solid var(--ifm-color-primary-dark);
}

.copyHiddenText:hover {
  border: 4px solid var(--ifm-color-secondary);
}

.copyHiddenText label:hover {
  cursor: pointer;
}

.copyHiddenTextIcon {
  position: relative;
  top: 4px;
  margin-left: 12px;
}
