/**
 * (c) Owner of https://codeberg.org/mgar
 */

[data-theme='dark'] .gitCommand {
  --ifm-background-color: #282A36;
}

.gitCommand {
   background-color: var(--ifm-background-color);
}

.gitCommandLine {
  display: block;
  cursor: pointer;
}

.gitCommandLine:hover > .gitCommandCopy {
  background-image: url("../img/copiar.svg");
  background-repeat: no-repeat;
}

.gitCommandCopy {
  width: 22px;
  display: inline-block;
  margin-right: 6px;
}

.gitCommandMain {
  color: var(--ifm-color-success);
}

.gitCommandBranch {
  color: var(--ifm-color-info-darkest);
}

.gitCopiedOk {
  position: relative;
  top: -14px;
  height: 4px;
  display: flex;
  left: 8px;
}
